
.container {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
}

.textLevel {
    font-size:  15px;
}

.star {
    font-size: 15px;
    color: red;
        margin-right: 10px
}